.git
.idea
.venv
flink/.venv
datahub/.venv
ml/.venv
feature_store/.venv
.env
__pycache__
*.pyc
*.pyo
*.egg-info
.DS_Store
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
data
images
airflow/logs
docs
tests
reports
